async-timeout==3.0.1
chess==1.5.0
chess.com==1.7.5
google-api-python-client==2.20.0
google-cloud-storage==1.42.3
gspread==4.0.1
numpy==1.19.5
pandas==1.2.4
pyarrow==4.0.0
python-dotenv==0.19.0
pytz==2021.1
pyyaml==6.0
pyyaml==6.0
setuptools
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
wheel
